html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
	list-style: none;
}

header {
	background-color: #000000;
	color: #fff;
	height: 100%;
	text-align: center;

	position: fixed;
	z-index: 10;
}

.header-logo {
	float: left;
	font-size: 25px;
	padding: 50px 30px;
}

.header-list li {
	padding: 30px 50px;
	font-size: 20px;
}

.top-wrapper {
	margin-left: 235px;
	background-image: url(DSC_0638.JPG);
	background-size: auto auto;
	background-repeat: no-repeat;
	color: white;
	font-size: 30px;
	text-align: center;	
}

.top-container {
	vertical-align: middle;
}

.news-wrapper {
	margin-left: 235px;
	padding: 200px 0px;
	background-color: #f0f0f0;
	background-size: cover;
	color: black;
}

